/*!
 * CSS3 Compatible
 */

html,body {
  width:100%;
}

body {
    /*background-color: #f8f8f8;*/
}

* {
  border-radius: 0px;
}

#header {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 100;
}

#wrapper {
    width: 100%;
}
#sidebar {
    position: fixed;
    color:white;
    left: 0px;
    top: 50px;
    bottom: 0px;
    width: 250px;

    -webkit-transition: -webkit-transform .3s cubic-bezier(.32, 1.25, .375, 1.15);
    -moz-transition: -moz-transform .3s cubic-bezier(.32, 1.25, .375, 1.15);
    -o-transition: -o-transform .3s cubic-bezier(.32, 1.25, .375, 1.15);
    transition: transform .3s cubic-bezier(.32, 1.25, .375, 1.15);
}
#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: #fff;
}

h1, h2, h3 {
    color: #555;
}
h1 {
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
}


.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.navbar-header .thumbnail {
    height: 37px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
    background: transparent;
}
.navbar-header .thumbnail img {
    height: 100%;
    background: transparent;
    border: 0px;
}

.sidebar .sidebar-nav.navbar-collapse {
    padding-right: 0;
    padding-left: 0;
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}


.sidebarMenu .panel {
  border-radius: 0px;
  margin-top: 0px !important;
  background: transparent;
}
.sidebarMenu .panel-default>.panel-heading {
  border-radius: 0px;
}
.sidebarMenu .panel a {
  text-decoration: none;
}
.sidebarMenu .panel .panel-title {
    font-size: 14px;
}
.sidebarMenu .panel .panel-body {
  padding:0px !important;
}
.sidebarMenu .panel .panel-body a {
  display: block;
  padding: 7px;
  padding-left: 25px;
  color: white;
  font-size: 12px;
}
.sidebarMenu .panel .panel-body a:hover {
  background: #3c8dbc;
}


.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}

.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
}

.panel .slidedown .glyphicon,
.chat .glyphicon {
    margin-right: 5px;
}

.chat-panel .panel-body {
    height: 350px;
    overflow-y: scroll;
}

.login-panel {
    margin-top: 25%;
}

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

.dataTables_wrapper {
    position: relative;
    clear: both;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^=col-] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee!important;
}

.show-grid {
    margin: 15px 0;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green a {
    color: #5cb85c;
}

.panel-green a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red a {
    color: #d9534f;
}

.panel-red a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow a {
    color: #f0ad4e;
}

.panel-yellow a:hover {
    color: #df8a13;
}

.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
}
.tree ul {
    margin-left:1em;
    position:relative
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    position:relative;
    cursor:pointer;
    color: white;
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
    height:auto;
    top:1em;
    bottom:0
}
.tree .indicator {
    margin-right:5px;
}
.tree li a {
    text-decoration: none;
    color:#369;
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:#369;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}

table thead {
  color: #666;
  font-size: 14px;
  background: #F3F3F3;
}
table tbody {
  color: #666;
  font-size: 12px;
}

.form-control {
    border-radius: 0px;
}

/*Custom CSS*/

#header .navbar-header {
    width: 250px;
/*     margin-right: 10px; */
}
#header .navbar-header:first-child {
    /*border-right:1px solid #CCC;*/
}
#header .custom-search-form {
    width: 200px;
    margin-top: 8px;
}
#header .site-select-form, #header .btn-action {
    margin-top: 8px;
}
#header .custom-search-form button,
 #header .site-select-form button {
    height: 34px;
}
#header .nav>li>a:focus, #header .nav>li>a:hover {
    color: #555;
}

.nav-tabs>li>a {
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
}
.nav-tabs>li>a .closeTab {
    font-weight: 100;
    font-size: 14px;
    cursor: pointer;
    margin-top: 2px;
    float: right;
    margin-left: 8px;
    padding: 5px;
    padding-top: 2px;
}
#content {
    padding: 10px;
}
body.home #content {
    padding: 0px;
    padding-top: 82px;
    height: 100%;
}
body.home #content>ul#myTab {
    position: fixed;
    left: 251px;
    right: 0px;
    top: 51px;
    background: #f8f8f8;
    z-index: 90;
}
body.home #content #myTab-content {
    height: 100%;
    overflow: auto;
}
body.home #content #myTab-content>.tab-pane {
    height: 100%;
}
body.home #content #myTab-content iframe {

}
body.home #content {
    background: url(images/logiks.png) no-repeat center center
}
/*.nav-tabs>li>a .closeTab {
    display: none;
}
.nav-tabs>li.active>a .closeTab {
    display: block;
}*/




#header .show-sidebar-menu {
	margin-right: 20px;
	margin-left: 10px;
}
#sidebar .sidebar li>a {
  margin-right: 1px;
}

#sidebar .tree li {
    white-space: nowrap;
}

#sidebar .sidebarTree .ajaxloading {
    margin-left: -58px
}

#sidebar .popupoverIcon {
    position: fixed;
    left: 208px;
    bottom: 10px;
    top: auto;
    z-index: 8900;
    width: 40px;
}
#sidebar .popupoverIcon>.actionIcon {
    padding: 8px;
    padding-left: 9px;
    font-size: 10px;
    border: 3px solid #FFF;
    border-radius: 50px;
    color: white;
    margin-bottom: 5px;
    float: left;
    cursor: pointer;
}
#sidebar .popupoverIcon>.actionIcon:hover {
    background: white;
    color: black;
}
#sidebar .popupoverIcon>.actionIcon:active {
    border-color: black;
}
#sidebar .searchField {
    
}
#sidebar .searchField input {
	width: 100%;
	border: 0px;
	background: transparent;
	margin-left: 0px;
	margin-top: 1px;
	color: white;
	/* background: #ffffff; */
	padding: 3px;
  outline: none;
}
#sidebar .searchField input:focus-within {
    background: white;
    background: rgba(255,255,255,0.9);
    color: #333;
}
.box {
    margin-bottom: 20px;
    position: relative;
}
.box .box-content {
    padding: 30px;
    display: block;
}
.box .img-content {
    padding: 0px;
    border: 1px dashed #AAA;
    max-height: 200px;
    overflow: hidden;
}
.box .box-content img.img-responsive {
  width: 100%;
  max-height:100%;
}
.box .box-content hr {
    margin-top: 5px;
    margin-bottom: 7px;
}
/*Media Queries*/
@media(min-width:800px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 250px;
    }
		#header .show-sidebar-menu {
			display:none;
		}
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0px;
        border-left: 1px solid #e7e7e7;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

@media(max-width:800px) {
    body.home #content>ul#myTab {
        left: 0px;
    }

    #sidebar {
			z-index: 9999999;
			display: block;
			transform: translateX(-100%);
    	-webkit-transform: translateX(-100%);
    }
		#sidebar.active {
			
		}
    #page-wrapper {
        margin: 0px;
    }
    
    #header .navbar .navbar-header:first-child {
        display: none;
    }
    #header{
        left: 0;
    }
}

body.error #page-wrapper {
    background-color: transparent;
    border: 0px;
    padding: 0px;margin: auto;
    min-height: 0px;
}
#page-wrapper .container-fluid>.error {
    margin-top: 50px;
}
.errorBox {
    margin: 50px;
}

.successToast {
    color:#FFF;margin-right:5px;
}
.errorToast {
    color:#F00;margin-right:5px;
}
.warnToast {
    color: orange;margin-right:5px;
}

.btn,.nav-tabs a {
    border-radius: 0px !important;
}

.form-horizontal .control-label {
    font-weight: normal;
}

.report-notoolbar .control-primebar {display: none !important;}

.well {border:0px;}

.componentTree {padding:0px;}
.componentTree .list-group-item {border-radius: 0px;}
.componentTree .list-group-item a {text-decoration: none;cursor: pointer;}
.componentTree .list-group-item .glyphicon, .componentTree .list-group-item .fa {
    margin-right: 5px;
}

.paddedBox {
    margin-left: 20px;
    margin-top: 5px;
    padding: 5px;
    border: 1px dashed #E9E9E9;
    max-height: 250px;
    overflow: auto;
}

.errorMsg {
  color:maroon;
  text-align:center;
  padding: 40px;
  border: 0px;
}

a.fa, a.glyphicon {
	text-decoration:none;
	cursor:pointer;
}
i.fa, i.glyphicon {
	
}
td a.fa, td a.glyphicon, th a.fa, th a.glyphicon {
	color: #666;
}
td i.fa, td i.glyphicon, th i.fa, th i.glyphicon {
	margin-right:3px;margin-left:3px;
	color: #666;
	cursor:pointer;
}

.table>thead>tr>th {
  padding: 10px !important;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 10px !important;
}
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  border-bottom:1px solid #DDD;
}
table.dataTable>thead>tr>th {
  background: #F3F3F3 !important;
}

.overlayBox .modal-dialog {
	width: 95%;
    margin-right: 3%;
}

.modal-title smaller {
	font-size: 12px;
}

.datalink[data-type] {
	color: #777;
	cursor:pointer;
}

#sidebarFileTree {
    width: 100%;
    /*height: 93%;*/
    overflow-x: auto;
    position: absolute;
    bottom: 0px;
    top: 60px;
    left: 0px;
    right: 0px;
}

.componentTree .list-group-item.list-file {
	padding-left: 25px;
}

/******Animations******/
/* Sidebar Animation */
.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}

.text-success {
    color: #3e9e40 !important;
} 
.text-info {
    color: #31708f !important;
}
.text-warning {
    color: #8a6d3b !important;
}
.text-danger {
    color:#CE3330 !important;
}

.infoviewbox label {
       color: #272626 !important;
    font-size: 12px;
    font-weight: 600 !important;
}
table.dataTable td.actionCol i, table.dataTable th.actionCol i{
    font-size: 19px !important;
   
    margin-left: 10px !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

body.no_sidebar {
    
}
body.no_sidebar #sidebar {
    display: none;
}
body.no_sidebar #page-wrapper {
    margin-left: 0px;
}
body.no_sidebar #myTab {
    left: 0px !important;
}
    
@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}
    
@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}

/*-----------------dashboard----------created by Vishnu Nair---------------*/


.system_stats_div_container .card-body{
          display: flex;
    flex-wrap: wrap;
    padding: 8px 25px;
}
.system_stats_div_container .card-body .col{
        width: 75%;
            text-align: left;
}
.system_stats_div_container .card-body .icon-shape{
          width: 25%;
    order: 1;
    background: transparent !important;
    position: relative;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.system_stats_div_container .card-body .icon-shape i{
    color: #1800b9;
        margin-right: -17px;
}
.system_stats_div_container>div:nth-child(2) .icon-shape i{
        color: #01b81a;
}
.system_stats_div_container>div:nth-child(3) .icon-shape i{
        color: #ff0000;
}
.system_stats_div_container>div:nth-child(4) .icon-shape i{
        color: #0195b8;
}
.system_stats_div_container>div:nth-child(5) .icon-shape i{
        color: #ff5f00;
}
.system_stats_div_container .card-body .icon-shape:after{
       content: "";
    position: absolute;
    width: 218px;
    height: 168px;
    left: 0;
    height: 100%;
    left: 5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: rgb(88 64 255 / 12%);
}
.system_stats_div_container>div:nth-child(2) .icon-shape:after{
     background: rgb(12 170 54 / 15%);
}
.system_stats_div_container>div:nth-child(3) .icon-shape:after{
     background: rgb(219 25 8 / 11%);
}
.system_stats_div_container>div:nth-child(4) .icon-shape:after{
     background: rgb(3 152 165 / 15%);
}
.system_stats_div_container>div:nth-child(5) .icon-shape:after{
     background: rgb(219 106 8 / 13%);
}

.system_stats_div_container .card-body .text-muted{
        width: 100%;
    order: 2;
    text-align: left;
    margin: 0;
    margin-bottom: 10px;
    color: #000 !important;
    text-transform: lowercase;
    font-size: 18px;
}
.system_stats_div_container .card-body .text-muted.text-uppercase {
    text-transform: uppercase !important;
}
.system_stats_div_container .card-body .card-title {
           text-align: left;
    font-weight: 400;
    font-size: 17px;
}
.system_stats_div_container>div {
    padding-right: 12px !important;
    padding-left: 12px !important;
   
}
.system_stats_div_container .card-body .text-muted .text-nowrap{
    font-size: 11px;
    color: #022acf;
    font-weight: 700;
    text-transform: uppercase;
}
.system_stats_div_container .card{
           box-shadow: 0 6px 15px #ebebeb;
    border-radius: 3px !important;
    margin-bottom: 12px !important;
        overflow: hidden;
    position: relative;
}
.system_stats_div_container .card-title + .font-weight-bold{
        font-weight: 800 !important;
}
i.fa.fa-cloud-upload:after {
    content: "\f093";
}
