@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('fonts.css');

body{
   font-family: 'Mulish', sans-serif;
}
.sidebarMenu  .panel-default>.panel-heading {
    color: #333;
    background-color: transparent;
    border-color: transparent;
        padding: 14px 15px;
}
.sidebarMenu .panel .panel-title {
    
    color: #fff;
}
.sidebarMenu .panel{
    border: 0;
        box-shadow: none;
}
.navbar-static-top .navbar-header{
    /*display: none;*/
}
#header .navbar-header:first-child {
    display: none;
}
#header{
        left: 250px
}
#sidebar{
    top: 0;
    background: #0f172a;
}
.sidebarMenu{
    top: 100px !important;;
}
#sidebar .nav-tabs>li>a{
    padding: 6px 0;
}
#sidebar .nav-tabs>li.active>a, #sidebar .nav-tabs>li.active>a:focus, #sidebar .nav-tabs>li.active>a:hover{
   background-color: #1391dc00;
    border: 0 !important;
    border-bottom-color: #ccc;
    border-radius: 0px !important;
    color: #fff !important;
    border-bottom: 3px solid #1391dc !important;
    
    font-weight: 600;
}
#sidebar .nav-tabs.nav-justified>li>a{
           border-bottom: 0;
    color: #1391dc;
}
#header .navbar{
        background: #fff;
    box-shadow: 7px 1px 0px 0px #ccc;
       
}
#header .navbar a {
    color: black;
}
.btn-primary.btn-search{
            color: #1391dc;
    background-color:#eaf7ff;
    border-color: #7ec6f3;
    font-weight: 700;
    margin-right: 10px;
}
#header .la {
    font-size: 33px;
    margin-right: 5px;
    float: left;
}
#header i.la.la-user {
    margin-top: -4px;
    font-size: 31px !important;
}
.sidebarMenu .panel a{
        font-weight: 300 !important;
}
#sidebar .navbar-header {
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 6px;
    padding: 7px 10px;
    border-bottom: 1px solid #1f242e;
}
#sidebar .navbar-brand{
    font-size: 20px;
    color: #fff;
    /* text-transform: uppercase; */
    font-weight: 600;
    padding: 9px 15px;
    height: 37px;
}
#sidebar .nav-tabs.nav-justified{
    padding: 0 10px;
}
#sidebarFileTree{
    top: 147px;
}
#sidebar .searchField input{
      
    background: #1a2540;
    
    padding: 9px 15px;
    border-radius: 20px;
}
#sidebar .searchField {
    padding: 10px;
}
 .panel-group .panel-heading+.panel-collapse>.panel-body{
        border-top: 0;
}
.home #page-wrapper,.home .dashboardContainer{
        background-color: #f1f5f9;
}
.dashletPanel .panel-heading{
    /*display: none;*/
}
.panel{
    background-color: transparent;
    border: 0;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
        border: 1px dashed #ddd;
    font-size: 14px;
    color: #000;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    padding: 12px !important;
}
#componentTree a, #componentSpace a{
    color: #000;
}
table thead{
        background: #fff;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
        vertical-align: middle;
    border-top: 1px solid #ddd;
    font-size: 14px;
    color: #000;
}
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border-bottom: 1px dashed #DDD;
}
.table>thead>tr>th{
    text-transform: uppercase;
    color: #8a8989 !important;
    border: 1px dashed #ddd;
    font-size: 13px;
}
.sidebarMenu .panel .panel-body a{
        font-size: 14px;
}

#componentTree .active a, #componentSpace .active a{
        color: #fff;
}
.sidebarMenu .panel .panel-body a{
      padding: 10px;
          padding-left: 25px;
}
.table td i {
    float: none !important;
}
.table td.actions2,.table td.action,.table td.actionCol,.table td.actionbtns{
    white-space: nowrap;
}
.actions2 i,.actions2 a,.action i,.action a,.actionCol i,.actionCol a,.actionbtns i,.actionbtns a{
    background: #EFEFEF;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 3px !important;
    padding-top: 10px !important;
}

.reportTable .table-tools .btn, .reportTable .table-tools select{
        height: 35px;
}
.reportTable .table-tools input.searchfield{
        height: 35px;
    padding: 6px 15px;
}
.card{
        padding-top: 9px;
}
.card .label{
        margin-top: 3px;
}
.card .card-heading.simple{
        font-size: 20px;
    font-weight: 600;
    color: #080707;
}
.no_sidebar #header {
    left: 0;
}
button#leftMenuOpen,button#leftMenuOpen:hover,button#leftMenuOpen:focus {
    border: 0;
    /* padding: 0; */
    font-size: 17px;
        background-color: transparent;
}
.profileDropdown .dropdown-toggle i{
    width: 28px;
    height: 28px;
    background: #0098ff;
    padding-top: 6px;
    border-radius: 100% !important;
    color: #ffffff;
    margin-right: 3px;
}
.profileDropdown .dropdown-toggle{
        padding: 5px 15px;
}
.dropdown-menu{
        min-width: 192px;
    padding: 5px 0;
}
.list-group-item span.label {
    font-size: 10px !important;
    margin-top: 4px !important;
}
#pgsidebar .list-group-item citie {
    font-size: 10px;
    float: right;
    margin-top: 4px;
    padding-top: 4px;
}
#pgsidebar .list-group-item .fa {
    margin-top: 7px;
    font-size: 12px;
    margin-right: -7px;
    margin-left: 10px;
    color: #766e6e;
}
i.actionBtn {
    font-size: 16px;
}

.site-select-form .dropdown-toggle{
        border-right: 0;
}
.searchForm, .eStoreButton,.todoButton {
           margin-top: 8px;
    margin-right: 10px;
}
.searchForm .btn{
     font-size: 14px;
}
.eStoreButton .btn,.eStoreButton .btn:hover,.eStoreButton .btn:focus {
        color: #f75000;
    background-color: #fdf6ec;
    border-color: #fbca84;
        font-size: 14px;
}
.todoButton .btn,.todoButton .btn:hover,.todoButton .btn:focus {
       color: #00a757;
    background-color: #ebfff6;
    border-color: #72efb4;
    font-size: 13px;
}

#header .dropdown-user li {
    display: block !important;
    padding: 3px !important;
    border-bottom: 1px solid #DDD !important;
}
#header .dropdown-user li.active {
    background-color: #337ab7;
}
#header .dropdown-user li.divider {
    border-bottom: 0px !important;
    padding: 0px !important;
    background: transparent;
    margin: 0px;
    height: 0px;
}
#header .dropdown-user li:last-child {
    border-bottom: 0px !important;
}

.dashletPanel.active .panel-body {
    padding: 5px 0px;
}

#sidebar #perspectiveMenu {
    text-align: right;margin-right: -10px;margin-top: -6px;margin-bottom: -15px;
}
#sidebar #perspectiveMenu .dropdown>a {
    color: white;
}

#sidebar #perspectiveMenu .dropdown>a:focus, #sidebar #perspectiveMenu .dropdown>a:hover {
    background: transparent;
    opacity: 0.8;
    color: yellow !important;
}
#header .dropdown-menu>.active>a, #header .dropdown-menu>.active>a:focus, #header .dropdown-menu>.active>a:hover {
    color: #fff !important;
}
.navbar-top-links li:last-child {
    margin-right: 5px;
}

