/*CSS3 complained Style sheet*/
@font-face{
	font-family: HattoriHanzoLight;
	src: url('fonts/hattori/hattori_hanzo-webfont.eot');
	src: url('fonts/hattori/hattori_hanzo-webfont-iefix.eot') format('eot'), url('fonts/hattori/hattori_hanzo-webfont.woff') format('woff'), url('fonts/hattori/hattori_hanzo-webfont.ttf') format('truetype'), url('fonts/hattori/hattori_hanzo-webfont.svg#webfont2bbtnxOL') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	background:#fff;
	font-size: 12px;
	font-family: Arial, Helvetica, Sans-serif;
}
/*********************************************** HEADER ***********************************************************/
#header { 
	background: #aaa url(images/header.png) repeat;		
}
#header a.button { 
	background: #aaa url(images/header.png) repeat;	
}
#header .search { 
	background: #aaa url(images/header.png) repeat;	
}
#header {
	line-height: 40px;
	color: #AEAEAE;
	+text-shadow:0px 1px 0px #000000;
	-moz-text-shadow: 0px 1px 0px #000000;
	-webkit-text-shadow: 0px 1px 0px #000000;
	-o-text-shadow: 0px 1px 0px #000000;
	text-shadow: 0px 1px 0px #000000;
	z-index: 9999;
}
#header .left {
	position: absolute;
	left: 15px;
	top: 0;
}
#header .right {
	position: absolute;
	top: 0;
	right:10px;
}
#header .center {
	position:absolute;
	top:0;
	left:380px;
	padding-left:10px;
	padding-right:10px;
	text-align:center;
	margin-top:2px;
	color:white;
	font:27px bold Georgia;
	
}
#header a {
	color: #FFFFFF;
	text-decoration: none;
	cursor:pointer;
	font-weight:bold;
}
#header a:hover{
	text-decoration: underline;
}
#header a.button{
	border: 1px solid #222222;
	/*+border-radius:5px;*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
	display: block;
	float: left;
	width: 25px;
	height: 25px;
	margin-top: 6px;
	margin: 6px 10px 0px 0px;
	line-height: 32px;
	text-align: center;
	background-position: 0px -40px;
}
/** Search Form **/
#header .search {
	width:200px;
	height:25px;
	background-position: 0px -65px;	
	margin-top:7px;
	margin-right:8px;
	/*+border-radius:5px;*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #505050;
	text-align:left;
}
#header .search input.text {
	position: absolute;
	border: none;
	background: none;
	width: 194px;
	height: 22px;
	line-height: 27px;
	padding: 0 5px;
	color:#888;
	/*+text-shadow:0 1px 0px #000;*/
	-moz-text-shadow: 0 1px 0px #000;
	-webkit-text-shadow: 0 1px 0px #000;
	-o-text-shadow: 0 1px 0px #000;
	text-shadow: 0 1px 0px #000;
}
/*#header .search label {
	position: absolute;
	border: none;
	background: none;
	width: 194px;
	height: 22px;
	line-height: 25px;
	padding: 0 5px;
	color:#888;
}*/
#header .search .searchbtn {
	background: url(images/search.png) no-repeat center center;
	width:25px;
	height:25px;
	float:right;
}
/*********************************************** SIDEBAR ***********************************************************/
#sidebar {
	width:200px;
	background-color:#494949;
	border-right: 1px solid #1B1B1B;
	/*+box-shadow:inset -5px 0 5px #404040;*/
	/*-moz-box-shadow: inset -5px 0 5px #404040;
	-webkit-box-shadow: inset -5px 0 5px #404040;
	-o-box-shadow: inset -5px 0 5px #404040;
	box-shadow: inset -5px 0 5px #404040;*/
	
	/*+text-shadow:0px 1px 0px #000000;*/
	-moz-text-shadow: 0px 1px 0px #000000;
	-webkit-text-shadow: 0px 1px 0px #000000;
	-o-text-shadow: 0px 1px 0px #000000;
	text-shadow: none !important;
	/*text-shadow: 0px 1px 0px #000000;	*/
	font-family:HattoriHanzoLight;
	font-weight:bold;
	color:#000;
}
#sidebar ul {
	list-style-type:none;
	padding:0px;
	margin:0px;
}
#sidebar a, #sidebar h2 {
	cursor:pointer;
	background:url("images/nav-item-bg.png") repeat-x scroll 0 0 transparent;
	color:#000;
	margin:0px;
	display:block;
    text-decoration:none;
    height:30px;
    line-height:30px;
    padding-left:10px;
    font-size:15px;
    font-weight: normal;
}
#sidebar a:hover, #sidebar h2:hover {
	background:url("images/nav-item-bg.png") repeat-x scroll 0 -39px transparent;	
}
#sidebar h2>a {padding-left:0px;}
#sidebar img {
    padding-right:7px;
}
#sidebar li {
	overflow:hidden;    
    line-height:39px;
}
#sidebar li ul a {
	background:#324452;
	border-bottom:1px solid #333;
	color:#aaa;	
	padding-left:20px;
}
#sidebar li ul a:hover {
	background:#284860;
	background-position: 37px -31px;
	padding-left:20px;
	color:#fff;	
}

#sidebar li.divider {
	height:2px;
}

#sidebar>ul>li>ul>li ul a{
	margin-left:20px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow:none;
	border:none;
}
#sidebar #infodisplay {
	background:#212f3b url("images/infobox.png") repeat-x scroll top center;
	width:100%;
	height:65px;
    padding:5px;
    padding-bottom:12px;
}

#sidebar #infodisplay>div {
	height:100%;
	width:185px;
	padding:2px;
	background:transparent;
	border:0px;
}

/*********************************************** DASHBOARD ***********************************************************/
#content {
	color: #6D6D6D;
	font-size: 12px;	
}
#content #workspace {
	background:transparent;
}
#content .workspaceclose {
	background:transparent url(images/close2.png) center center no-repeat;
	width:30px;
	height:30px;
	position:absolute;
	top:3px;
	right:7px;
	z-index:100;
	font-size:1.8em;
	color:black;
	line-height:25px;
	cursor:pointer;
	text-decoration:none;
	cursor:pointer;
	border:0px;
	opacity:0.5;
	font-size:0px;
}
#content .workspaceclose:hover {
	opacity:1;
	text-decoration:none;
}
#content .workspaceclose:active {
	opacity:1;
	text-decoration:none;
}
#content.nosidebar{
	margin-left: 40px;
}
#content a{
	color: #0A93CC;
}
#content a:hover{
	color: #000000;
	text-decoration: underline;
}
#content em, #content em a{
	font-style: italic;
	color: #B2B2B2;
	font-weight: normal;
}
#content strong{
	font-weight: bold;
	color: #1A1616;
}
#content pre{
	font-style: italic;
	font-size: 1.1em;
}
#content h1{
	margin:0px;
	font-family: HattoriHanzoLight;
	color: #000000;
	/*+text-shadow:0px 1px 0px #EDEDED;*/
	-moz-text-shadow: 0px 1px 0px #EDEDED;
	-webkit-text-shadow: 0px 1px 0px #EDEDED;
	-o-text-shadow: 0px 1px 0px #EDEDED;
	text-shadow: 0px 1px 0px #EDEDED;
	font-size: 27px;
	font-weight: normal;
	height: 32px;
	letter-spacing: 1px;
}
#content h1 a{
	color: inherit;
}
#content h1 span{
	font-size: 16px;
}

#content h1 img{
	vertical-align: top;
}

/**  Texts **/
#page .content h1{
	color: #000000;
	font-family: Arial, Helvetica, Sans-serif;
	/*+text-shadow:none;*/
	-moz-text-shadow: none;
	-webkit-text-shadow: none;
	-o-text-shadow: none;
	text-shadow: none;
	margin: 0px;
	padding: 10px 0;
	font-weight: bold;
}
#page .content h1, #page .content h2, #page .content h3, #page .content h4, #page .content h5{
	color: #000000;
	font-weight: bold;
	padding: 0 0px 5px;
}
#page .content h2{
	color: #1B1B1B;
	font-size: 25px;
}
#page .content h3{
	color: #282828;
	font-size: 22px;
}
#page .content h4{
	color: #404040;
	font-size: 20px;
}
#page .content h5{
	color: #5A5656;
	font-size: 18px;
}
#page .content p{
	padding: 5px 0 10px;
	line-height: 1.5em;
}
#page .content ul, #page .content ol{
	list-style: disc;
	margin-left: 25px;
	line-height: 1.5em;
	padding: 5px 0 10px;
}
#page .content ul.toolbar{
	padding: 3px 0px 0px 3px;
	margin: 0px;
	border: 0;
}
#page .content ul.toolbar li:hover{
	border: 1 solid #FFFFFF;
	background-color: #D9D6D6;
}
#content .wysiwyg{
	margin: 1px;
	padding: 0px;
}
#page .content ol{
	list-style: decimal;
}
#page .content{
	padding: 10px;
	background-color: #F7F7F7;
}
/** Table **/
#page table:not(.nostyle) {
	width: 99%;
	text-align: left;
}
#page table:not(.nostyle) .picture img{
	border: 4px solid #DFDFDF;
	margin: 7px;
	padding: 0px;
}
#page table:not(.nostyle) .picture a:hover img{
	border-color: #BDBDBD;
}
#page table:not(.nostyle) h1, #page table:not(.nostyle) h2, #page table:not(.nostyle) h3, #page table:not(.nostyle) h4, #page table:not(.nostyle) h5{
	display: inline;
}
#page table:not(.nostyle) thead th{
	border-bottom: 1px solid #BDBDBD;
}
#page table:not(.nostyle) thead tr th{
	font-weight: bold;
	color: #151515;
	font-size: 1.1em;
	padding-bottom: 2px;
}
#page table:not(.nostyle) thead tr th a{
	color: #151515;
}
#page table:not(.nostyle) tbody tr td{
	height: 30px;
	vertical-align: middle;
	border-bottom: 1px solid #DADADA;
	border-top: 1px solid #FFFFFF;
}
#page table:not(.nostyle) tbody tr:nth-child(2n+1) td{
	background-color: #F0F0F0;
}
#page table:not(.nostyle) tbody tr:hover td{
	background-color: #EAEAEA;
	border-bottom: 1px solid #CACACA;
	border-top: 1px solid #E2E2E2;
}
#page table:not(.nostyle) tbody tr td.actions{
	text-align: right;
	padding-right: 10px;
	width: 70px;
}
#page table:not(.nostyle).noalt tbody tr td{
	background-color: transparent !important;
	border-bottom: 1px solid #DADBDD;
}
#page table:not(.nostyle).noborder tbody tr td{
	border: none;
}
#page table:not(.nostyle) tbody tr td img{
	padding-right: 5px;
}
/** Pagination**/
#page .pagination{
	text-align: right;
	margin: 10px -7px 10px 10px;
	/*[empty]border:;*/
}
#page .pagination a{
	display: inline-block;
	height: 20px;
	width: 20px;
	line-height: 20px;
	margin: 0 1px 0 0;
	border: 1px solid #DAD9D9;
	text-align: center;
	text-decoration: none;
	color: #646161;
	/*+border-radius:3px;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
}
#page .pagination a.next, #page .pagination a.prev{
	border: 1px solid #FFFFFF;
}
#page .pagination a.current, #page .pagination a:hover{
	background: url(images/buttons.png) left -68px;
	border: 1px solid #3580A9;
	/*+text-shadow:0px -1px 0px #2C6AA3;*/
	-moz-text-shadow: 0px -1px 0px #2C6AA3;
	-webkit-text-shadow: 0px -1px 0px #2C6AA3;
	-o-text-shadow: 0px -1px 0px #2C6AA3;
	text-shadow: 0px -1px 0px #2C6AA3;
	color: #D4E6EF;
	font-weight: bold;
}
#page .pagination a.next:hover, #page .pagination a.prev:hover{
	background: none;
	/*+text-shadow:none;*/
	-moz-text-shadow: none;
	-webkit-text-shadow: none;
	-o-text-shadow: none;
	text-shadow: none;
	color: #646161;
	font-weight: normal;
	border-color: #F7F7F7;
}
/** Notification **/
#page .notif{
	padding: 20px 10px 20px 40px;
	background: #FFF no-repeat 5px center;
	position: relative;
	/*+border-radius:8px;*/
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px 8px 8px 8px;
	/*+text-shadow:none;*/
	-moz-text-shadow: none;
	-webkit-text-shadow: none;
	-o-text-shadow: none;
	text-shadow: none;
}
#page .content .notif{
	margin-bottom: 10px;
	/*+border-radius:5px;*/
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px 5px 5px 5px;
}
#page .notif .close{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 12px;
	height: 13px;
	display: block;
	background: url(images/close.png);
}
#page .notif strong{
	font-weight: bold;
}
#page .notif.success{
	background-color: #E9FBB4;
	background-image: url(images/success.png);
	border: 1px solid #95B630 !important;
	color: #2E640A;
}
#page .notif.error{
	background-color: #FBB4B4;
	background-image: url(images/error.png);
	border: 1px solid #C21C1C !important;
	color: #C21C1C;
}
#page .notif.info{
	background-color: #B6EBF9;
	background-image: url(images/info.png);
	border: 1px solid #0B809F !important;
	color: #0B809F;
}
#page .notif.tip, #page .notif.warning{
	background-color: #F2EDB7;
	background-image: url(images/tip.png);
	border: 1px solid #8C8919 !important;
	color: #656310;
}
#page .notif.warning{
	background-image: url(images/warning.png);
}
/**  Forms **/
#page.input{
	padding: 5px 0 10px;
}
#pagelabel{
	display: block;
	color: #2C2C2C;
	font-weight: bold;
	padding-bottom: 10px;
	font-size: 14px;
}
#page.input label span{
	color: #0877A6;
}
#page.input input, #page.input select{
	border: 1px solid #C8CACC;
	height: 28px;
	line-height: 28px;
	width: 260px;
	display: block;
	padding: 0 5px;
}
#page.input select{
	padding: 5px 5px 5px 0;
	padding-left: 5px;
	height: auto;
}
#page.checkbox input{
	width: auto;
	display: inline-block;
	height: auto;
}
#page.input label.inline{
	color: #6D6D6D;
	font-size: 1em;
	font-weight: normal;
	display: inline-block;
	margin-right: 15px;
	vertical-align: middle;
	height: 14px;
	line-height: 23px;
}
#page.input select{
	width: auto;
}
#page.input textarea{
	width: 98%;
	padding: 1%;
}
#page.input input.datepicker{
	background-image: url(images/input-datepicker.png);
	background-position: 98px center;
	background-repeat: no-repeat;
	width: 110px;
}
#page.medium input{
	width: 50%;
}
#page.long input, #page.full input{
	width: 98%;
	padding: 0 1%;
}
#page.error, #page.error label, #page.error input, #content .error-message, #content .error textarea{
	color: #DC3522 !important;
	border-color: #DC3522 !important;
}
#page.error input, #page.error textarea{
	background-color: #ECE8E7 !important;
}
#content .error-message{
	display: block;
}
/** Gallery **/
#content .gallery{
	text-align: left;
	margin: 28px 0 0 !important;
	padding: 0 !important;
}
#page.gallery{
	margin-top: 0 !important;
}
#content .gallery li{
	display: inline-block;
	padding: 5px;
	position: relative;
	margin: 5px;
	/*+box-shadow:0px 3px 5px #A3A3A3;*/
	-moz-box-shadow: 0px 3px 5px #A3A3A3;
	-webkit-box-shadow: 0px 3px 5px #A3A3A3;
	-o-box-shadow: 0px 3px 5px #A3A3A3;
	box-shadow: 0px 3px 5px #A3A3A3;
	text-align: center;
	background: #FFF;
}
#content .gallery li span.info{
	display: block;
	text-align: left;
}
#content .gallery li .del{
	background: url(images/close2.png);
	width: 30px;
	height: 30px;
	display: none;
	position: absolute;
	top: -6px;
	right: -10px;
	text-indent: 3000px;
	text-decoration: none;
}
#content .gallery li .large{
	position: absolute;
	bottom: 5px;
	right: 5px;
	background: url(images/enlarge.jpg);
	width: 19px;
	height: 19px;
	text-indent: 3000em;
	display: none;
}
#content .gallery li .over{
	position: absolute;
	text-align: center;
	top: 50%;
	margin-top: -18px;
	width: 100%;
	text-decoration: none;
	display: none;
}
#content .gallery li .over span{
	color: #FFF;
	text-decoration: none;
	background: #292828;
	background: rgba(0, 0, 0, 0.5);
	padding: 5px;
	display: inline;
	/*+border-radius:3px;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
}
#content .gallery li:hover .del, #content .gallery li:hover .over, #content .gallery li:hover .large{
	display: block;
}
#content .gallery li:hover img{
	/*+opacity:30%;*/
	filter: alpha(opacity=30);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
	-moz-opacity: 0.3;
	opacity: 0.3;
}
/*Input colors*/
#page.input textarea, #page.input input, #content .selector, #content .uploader{
	border: 1px solid #DDDCDC;
	/*+box-shadow:inset 2px 1px 5px #CBC9C9;*/
	-moz-box-shadow: inset 2px 1px 5px #CBC9C9;
	-webkit-box-shadow: inset 2px 1px 5px #CBC9C9;
	-o-box-shadow: inset 2px 1px 5px #CBC9C9;
	box-shadow: inset 2px 1px 5px #CBC9C9;
	background: #FFFFFF;
}
#page.input textarea:focus, #page.input input:focus{
	border: 1px solid #59C7FF;
	/*+box-shadow:inset 2px 1px 5px #88BCD7;*/
	-moz-box-shadow: inset 2px 1px 5px #88BCD7;
	-webkit-box-shadow: inset 2px 1px 5px #88BCD7;
	-o-box-shadow: inset 2px 1px 5px #88BCD7;
	box-shadow: inset 2px 1px 5px #88BCD7;
}
/*Range input*/
#page .ui-slider-horizontal{
	width: 350px;
	background: url(images/range.png) no-repeat right -35px;
	height: 10px;
	border: none;
}
#page .ui-slider-range{
	background: url(images/range.png) no-repeat left -25px;
	border: none;
}
#page .ui-slider-handle{
	width: 25px;
	height: 25px;
	background: url(images/range.png) no-repeat;
	border: none;
	top: -7px;
	margin-left: -13px;
	cursor: pointer;
}
/*Datepicker*/
.ui-datepicker{
	border: none !important;
	padding: 0px !important;
	margin: 0px !important;
	width: 210px !important;
	/*+box-shadow:0 0 5px #B9B6B6;*/
	-moz-box-shadow: 0 0 5px #B9B6B6;
	-webkit-box-shadow: 0 0 5px #B9B6B6;
	-o-box-shadow: 0 0 5px #B9B6B6;
	box-shadow: 0 0 5px #B9B6B6;
}
.ui-datepicker-header{
	background: #363636 none !important;
	border: none !important;
	/*+border-radius:0;*/
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-khtml-border-radius: 0 !important;
	border-radius: 0 0 0 0 !important;
	height: 35px;
	color: #FFFFFF !important;
	/*+text-shadow:0 -1px #000;*/
	-moz-text-shadow: 0 -1px #000 !important;
	-webkit-text-shadow: 0 -1px #000 !important;
	-o-text-shadow: 0 -1px #000 !important;
	text-shadow: 0 -1px #000 !important;
}
.ui-datepicker-title{
	padding-top: 5px !important;
}
.ui-datepicker-next, .ui-datepicker-prev{
	margin-top: 6px;
}
.ui-datepicker table{
	margin: 0px !important;
	padding: 0px !important;
	width: 210px !important;
	border-collapse: collapse !important;
}
.ui-datepicker table thead th{
	margin: 0px !important;
	padding: 0px !important;
	text-align: center !important;
	color: #666666 !important;
	font-weight: normal !important;
	text-transform: uppercase !important;
	font-size: 7.2pt !important;
	height: 19px !important;
	line-height: 19px !important;
}
.ui-datepicker table tbody tr{
	height: 29px;
}
.ui-datepicker table td{
	border: none !important;
	background: none !important;
	padding: 0px !important;
	margin: 0px !important;
	height: 29px !important;
	width: 29px !important;
	line-height: 29px !important;
	border: 1px solid #BBBBBB !important;
}
.ui-datepicker table td a{
	display: block !important;
	height: 29px !important;
	width: 29px !important;
	line-height: 29px !important;
	padding: 0px !important;
	margin: 0px !important;
	background: url(images/day.png) !important;
	text-align: center !important;
	color: #666666 !important;
	/*+text-shadow:0px 1px #FFFFFF;*/
	-moz-text-shadow: 0px 1px #FFFFFF !important;
	-webkit-text-shadow: 0px 1px #FFFFFF !important;
	-o-text-shadow: 0px 1px #FFFFFF !important;
	text-shadow: 0px 1px #FFFFFF !important;
	border: none !important;
}
.ui-datepicker table td a:hover, .ui-datepicker table td.ui-datepicker-current-day a{
	background-position: right top !important;
	color: #FFFFFF !important;
	text-decoration: none !important;
	/*+text-shadow:0px 0px #4E7A85;*/
	-moz-text-shadow: 0px 0px #4E7A85 !important;
	-webkit-text-shadow: 0px 0px #4E7A85 !important;
	-o-text-shadow: 0px 0px #4E7A85 !important;
	text-shadow: 0px 0px #4E7A85 !important;
	font-weight: bold !important;
}
.ui-datepicker table td.ui-datepicker-today a{
	background-position: center top !important;
	color: #FFFFFF !important;
	text-decoration: none !important;
	/*+text-shadow:0px 0px #4E7A85;*/
	-moz-text-shadow: 0px 0px #4E7A85 !important;
	-webkit-text-shadow: 0px 0px #4E7A85 !important;
	-o-text-shadow: 0px 0px #4E7A85 !important;
	text-shadow: 0px 0px #4E7A85 !important;
	font-weight: bold !important;
}
/*Checkbox/Radio*/
.selector, .checker, .button, .radio, .uploader{
	position: relative;
	display: inline-block;
	padding: 0px;
	margin: 0px;
}
.selector span, .checker span, .button span, .radio span, .uploader span{
	display: block;
}
#page .checker:hover, #page .radio:hover{
	/*+box-shadow:0px 0px 10px #D2D2D2;*/
	-moz-box-shadow: 0px 0px 10px #D2D2D2;
	-webkit-box-shadow: 0px 0px 10px #D2D2D2;
	-o-box-shadow: 0px 0px 10px #D2D2D2;
	box-shadow: 0px 0px 10px #D2D2D2;
}
#page .checker, #page .checker span, #page .checker input, #page .radio, #page .radio span, #page .radio input{
	width: 50px !important;
	height: 24px !important;
	cursor: pointer;
	margin-bottom: 4px;
	margin-right: 5px;
}
#page .checker span, #page .radio span{
	background: url(images/checkbox.png) bottom left;
}
#page .checker span.checked, #page .radio span.checked{
	background-position: top left;
}
/*Select*/
#page .selector, #page .selector select, #page .selector span{
	width: 162px !important;
	height: 28px;
	position: relative;
	padding: 0px;
	margin: 0px;
	display: block;
}
#page .selector span{
	background: none;
	position: absolute;
	line-height: 29px;
	background: url(images/select.png) no-repeat 98% center;
	text-indent: 10px;
}
#page .selector.focus{
	border: 1px solid #59C7FF;
	/*+box-shadow:inset 2px 1px 5px #88BCD7;*/
	-moz-box-shadow: inset 2px 1px 5px #88BCD7;
	-webkit-box-shadow: inset 2px 1px 5px #88BCD7;
	-o-box-shadow: inset 2px 1px 5px #88BCD7;
	box-shadow: inset 2px 1px 5px #88BCD7;
}
/*Upload*/
#page .uploader{
	width: 200px !important;
	height: 25px;
	position: relative;
	padding: 0px;
	margin: 0px;
}
#page .uploader input{
	position: absolute;
	width: 200px !important;
	height: 25px;
	z-index: 50;
}
#page .uploader span{
	height: 25px;
	line-height: 25px;
}
#page .uploader span.action{
	background: url(images/buttons.png) left -68px;
	border: 1px solid #3580A9;
	/*+text-shadow:0px -1px 0px #2C6AA3;*/
	-moz-text-shadow: 0px -1px 0px #2C6AA3;
	-webkit-text-shadow: 0px -1px 0px #2C6AA3;
	-o-text-shadow: 0px -1px 0px #2C6AA3;
	text-shadow: 0px -1px 0px #2C6AA3;
	color: #D4E6EF;
	font-weight: bold;
	padding: 0 5px;
	/*+border-radius:3px;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	/*+box-shadow:0px 1px 5px #B2B2B2;*/
	-moz-box-shadow: 0px 1px 5px #B2B2B2;
	-webkit-box-shadow: 0px 1px 5px #B2B2B2;
	-o-box-shadow: 0px 1px 5px #B2B2B2;
	box-shadow: 0px 1px 5px #B2B2B2;
	height: 22px;
	line-height: 22px;
	margin-top: 1px;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 2;
	cursor: pointer;
}
#page .uploader.hover span.action, #page .uploader span.action:hover{
	background: #3786B9;
	color: #FFFFFF;
	text-decoration: none;
	/*+box-shadow:none;*/
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
#page .toolbar>.left {
	padding-top:10px;
}
/*Submit*/
#page .submit input, #page .button{
	background: url(images/buttons.png) left -68px;
	border: 1px solid #3580A9;
	/*+text-shadow:0px -1px 0px #2C6AA3;*/
	-moz-text-shadow: 0px -1px 0px #2C6AA3;
	-webkit-text-shadow: 0px -1px 0px #2C6AA3;
	-o-text-shadow: 0px -1px 0px #2C6AA3;
	text-shadow: 0px -1px 0px #2C6AA3;
	color: #D4E6EF;
	font-weight: bold;
	padding: 5px 10px;
	/*+border-radius:3px;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
	cursor: pointer;
	text-decoration: none;
	/*+box-shadow:0px 1px 5px #B2B2B2;*/
	-moz-box-shadow: 0px 1px 5px #B2B2B2;
	-webkit-box-shadow: 0px 1px 5px #B2B2B2;
	-o-box-shadow: 0px 1px 5px #B2B2B2;
	box-shadow: 0px 1px 5px #B2B2B2;
	margin-right:5px;
}
#page .button img{
	vertical-align: text-top;
	/*+opacity:65%;*/
	filter: alpha(opacity=65);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
	-moz-opacity: 0.65;
	opacity: 0.65;
}
#page .button:hover img{
	/*+opacity:100%;*/
	filter: alpha(opacity=100);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	-moz-opacity: 1;
	opacity: 1;
}
#page .submit input:hover, #page .button:hover{
	background: #3786B9;
	color: #FFFFFF;
	text-decoration: none;
	/*+box-shadow:none;*/
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

/** Charts *
plugin styles*/
#page.visualize{
	border: 1px solid #888;
	position: relative;
	background: #FAFAFA;
	margin: 20px auto;
}
#page.visualize canvas{
	position: absolute;
}
#page.visualize ul, #page.visualize li{
	margin: 0;
	padding: 0;
	list-style: none;
}
/*table title, key elements*/
#page.visualize .visualize-info{
	padding: 3px 5px;
	background: #FAFAFA;
	border: 1px solid #888;
	position: absolute;
	top: -20px;
	right: 10px;
	opacity: .8;
}
#page.visualize .visualize-title{
	display: block;
	color: #333;
	margin-bottom: 3px;
	font-size: 1.1em;
}
#page.visualize ul.visualize-key{
	list-style: none;
}
#page.visualize ul.visualize-key li{
	list-style: none;
	float: left;
	margin-right: 10px;
	padding-left: 10px;
	position: relative;
}
#page.visualize ul.visualize-key .visualize-key-color{
	width: 6px;
	height: 6px;
	left: 0;
	position: absolute;
	top: 50%;
	margin-top: -3px;
}
#page.visualize ul.visualize-key .visualize-key-label{
	color: #000;
}
/*pie labels*/
#page.visualize-pie .visualize-labels{
	list-style: none;
}
#page.visualize-pie .visualize-label-pos, .visualize-pie .visualize-label{
	position: absolute;
	margin: 0;
	padding: 0;
}
#page.visualize-pie .visualize-label{
	display: block;
	color: #FFF;
	font-weight: bold;
	font-size: 1em;
}
#page.visualize-pie-outside .visualize-label{
	color: #000;
	font-weight: normal;
}
/*line,bar, area labels*/
#page.visualize-labels-x, #page.visualize-labels-y{
	position: absolute;
	left: 0;
	top: 0;
	list-style: none;
}
#page.visualize-labels-x li, #page.visualize-labels-y li{
	position: absolute;
	bottom: 0;
}
#page.visualize-labels-x li span.label, #page.visualize-labels-y li span.label{
	position: absolute;
	color: #555;
}
#page.visualize-labels-x li span.line, #page.visualize-labels-y li span.line{
	position: absolute;
	border: 0 solid #CCC;
}
#page.visualize-labels-x li{
	height: 100%;
}
#page.visualize-labels-x li span.label{
	top: 100%;
	margin-top: 5px;
}
#page.visualize-labels-x li span.line{
	border-left-width: 1px;
	height: 100%;
	display: block;
}
#page.visualize-labels-x li span.line{
	border: 0;
}
/*hide vertical lines on area, line, bar*/
#page.visualize-labels-y li{
	width: 100%;
}
#page.visualize-labels-y li span.label{
	right: 100%;
	margin-right: 5px;
	display: block;
	width: 100px;
	text-align: right;
}
#page.visualize-labels-y li span.line{
	border-top-width: 1px;
	width: 100%;
}
#page.visualize-bar .visualize-labels-x li span.label{
	width: 100%;
	text-align: center;
}
#page.visualize .stats_tooltip{
	margin: 3px 4px 0;
	padding: 6px 10px;
	background-color: #000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #FFF;
	font-size: 10px;
	line-height: normal;
	text-shadow: none;
	text-align: center;
}
#page.visualize .stats_tooltip strong{
	color: #FFF;
}
.visualize-interaction-tracker:hover{
	cursor: help;
}
.ie8 .visualize-interaction-tracker{
	top: 240px;
}
/*IE hover Fixes - Added in 1.1
*  Calendar **/
#page .calendar .title{
	text-align: center;
	position: relative;
}
#page .calendar .title .next, #page .calendar .title .prev{
	display: block;
	width: 18px;
	height: 18px;
	vertical-align: sub;
	margin: 0 50px;
	background: url(images/slidebuttons.png);
	position: absolute;
}
#page .calendar .title .next{
	background-position: 18px top;
	top: 8px;
	right: -13px;
}
#page .calendar .title .prev{
	background-position: 38px 0%;
	top: 8px;
	left: -35px;
}
#page .calendar .content{
	padding: 0;
	margin: 0px;
}
#page .calendar table{
	margin-right: 0px;
	border-collapse: collapse;
	vertical-align: top;
}
#page .calendar th{
	text-align: center;
	vertical-align: middle;
	text-transform: uppercase;
	border: 1px solid #C7C7C7;
	border-top: none;
	background: #FAFAFA;
	background: -moz-linear-gradient(top, #fafafa 0%, #eaeae9 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(99%,#eaeae9));
	background: -webkit-linear-gradient(top, #fafafa 0%,#eaeae9 99%);
	background: -o-linear-gradient(top, #fafafa 0%,#eaeae9 99%);
	background: -ms-linear-gradient(top, #fafafa 0%,#eaeae9 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eaeae9',GradientType=0 );
	background: linear-gradient(top, #fafafa 0%,#eaeae9 99%);
	height: 32px;
	color: #6D6D6D;
}
#page .calendar td{
	width: 14%;
	border: 1px solid #C5C5C5;
	background: #EEEEEE none;
	/*+box-shadow:inset 1px 1px 0px #FFFFFF;*/
	-moz-box-shadow: inset 1px 1px 0px #FFFFFF;
	-webkit-box-shadow: inset 1px 1px 0px #FFFFFF;
	-o-box-shadow: inset 1px 1px 0px #FFFFFF;
	box-shadow: inset 1px 1px 0px #FFFFFF;
	color: #383838;
	vertical-align: top;
	background: #F0F0F0;
	color: #6A6A6A;
	background: -moz-linear-gradient(top, #f0f0f0 0%, #e3e2e2 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(99%,#e3e2e2));
	background: -webkit-linear-gradient(top, #f0f0f0 0%,#e3e2e2 99%);
	background: -o-linear-gradient(top, #f0f0f0 0%,#e3e2e2 99%);
	background: -ms-linear-gradient(top, #f0f0f0 0%,#e3e2e2 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#e3e2e2',GradientType=0 );
	background: linear-gradient(top, #f0f0f0 0%,#e3e2e2 99%);
}
#page .calendar td:hover{
	background: #EFEFEF;
	color: #FFFFFF;
	/*+text-shadow:0px 1px #FFFFFF;*/
	-moz-text-shadow: 0px 1px #FFFFFF;
	-webkit-text-shadow: 0px 1px #FFFFFF;
	-o-text-shadow: 0px 1px #FFFFFF;
	text-shadow: 0px 1px #FFFFFF;
	color: #000;
}
#page .calendar td.today{
	background: #949594 none;
	/*+box-shadow:inset 1px 1px 20px #515251;*/
	-moz-box-shadow: inset 1px 1px 20px #515251;
	-webkit-box-shadow: inset 1px 1px 20px #515251;
	-o-box-shadow: inset 1px 1px 20px #515251;
	box-shadow: inset 1px 1px 20px #515251;
	/*+text-shadow:0px 1px #336F9C;*/
	-moz-text-shadow: 0px 1px #336F9C;
	-webkit-text-shadow: 0px 1px #336F9C;
	-o-text-shadow: 0px 1px #336F9C;
	text-shadow: 0px 1px #336F9C;
	color: #FFFFFF;
	background: #337BB2;
	background: -moz-linear-gradient(top, #337bb2 0%, #43a6ce 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#337bb2), color-stop(100%,#43a6ce));
	background: -webkit-linear-gradient(top, #337bb2 0%,#43a6ce 100%);
	background: -o-linear-gradient(top, #337bb2 0%,#43a6ce 100%);
	background: -ms-linear-gradient(top, #337bb2 0%,#43a6ce 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#337bb2', endColorstr='#43a6ce',GradientType=0 );
	background: linear-gradient(top, #337bb2 0%,#43a6ce 100%);
}
#page .calendar td.padding, #page .calendar td.padding:hover{
	background: none;
	/*+box-shadow:none;*/
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
#page .calendar td .relative{
	height: 60px;
	display: block;
}
#page .calendar td .day{
	font-size: 25px;
	width: 0px;
	margin: 5px;
	color: inherit;
}
#page .calendar td.today .day{
	color: #FFFFFF;
}
#page .calendar .events span{
	color: #0A93CC;
	padding-right: 4px;
	font-weight: normal;
	font-style: italic;
}
#page .calendar .events a{
	color: #707070;
	text-decoration: none;
	font-size: 10.6pt;
}
#page .calendar .events a:hover{
	text-decoration: underline;
}
#page .calendar .today .events a{
	color: #FFFFFF;
}
#page .calendar .today .events span{
	color: #A7C9D8;
}
#page .calendar ul, #page .calendar ul li{
	list-style: none;
	margin: 0 0 0 3px !important;
	padding: 0 !important;
}
.tooltipsy{
	background: #000;
	background: rgba(0, 0, 0, 0.8);
	color: #FFFFFF;
	padding: 5px 10px;
	/*+border-radius:3px;*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
}

/** CORE UNIFORM **/
.selector, .checker, .button, .radio, .uploader{
	display: -moz-inline-box;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	display: inline;
}
.selector select:focus, .radio input:focus, .checker input:focus, .uploader input:focus{
	outline: 0;
}
/*Button*/
div.button a, div.button button, div.button input{
	position: absolute;
}
div.button{
	cursor: pointer;
	position: relative;
}
div.button span{
	display: -moz-inline-box;
	display: inline-block;
	line-height: 1;
	text-align: center;
}
/*Select*/
div.selector{
	position: relative;
	padding-left: 10px;
	overflow: hidden;
}
div.selector span{
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
div.selector select{
	position: absolute;
	opacity: 0;
	filter: alpha(opacity:0);
	height: 25px;
	border: none;
	background: none;
}
/*Checker*/
div.checker{
	position: relative;
}
div.checker span{
	display: -moz-inline-box;
	display: inline-block;
	text-align: center;
}
div.checker input{
	opacity: 0;
	filter: alpha(opacity:0);
	display: inline-block;
	background: none;
}
/*Radio*/
div.radio{
	position: relative;
}
div.radio span{
	display: -moz-inline-box;
	display: inline-block;
	text-align: center;
}
div.radio input{
	opacity: 0;
	filter: alpha(opacity:0);
	text-align: center;
	display: inline-block;
	background: none;
}
/*Uploader*/
div.uploader{
	position: relative;
	overflow: hidden;
	cursor: default;
}
div.uploader span.action{
	float: left;
	display: inline;
	padding: 2px 0px;
	overflow: hidden;
	cursor: pointer;
}
div.uploader span.filename{
	padding: 0px 10px;
	float: left;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: default;
}
div.uploader input{
	opacity: 0;
	filter: alpha(opacity:0);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	float: right;
	height: 25px;
	border: none;
	cursor: default;
}
/**************************************************** CUSTOM ********************************************/
#workspace .ui-tabs, #content .ui-tabs-panel,#content .ui-widget-content {
	padding:0px;
	margin:0px;
	background:transparent;
}
#workspace li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
#workspace li a { cursor: pointer; text-decoration:none;}
#workspace li a:hover { cursor: pointer; text-decoration:none;}

table {
	border:1px solid #ededed;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius: 5px 5px 5px 5px;
}
table th {
	height:25px;
	border:0px;
}
table td {
	border:0px;
	border-right:1px solid #eee;
	border-bottom:1px solid #eee;
	height:25px;
}
table td:last-child {
	border-right:1px;
}

#page #toolbar.ui-widget-header {
	background:transparent;
	border:0px;
}
